<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update value</title>
    <style>
        body{
            background-repeat: no-repeat;
            background-size: cover;
            background-image: url("abc.jpg");
            display: flex;
            justify-content: center;
            align-items: center ;
            flex-direction: column;
            text-align: center;
        }
        h1{
            margin-top: 6%;

          
            font-family: cursive;
            font-style: sans-serif;
        }
        #input{
            height: 30px;
            width: 400px;
            border-radius: 10px;
            margin-right: 20px;
        }
    </style>
</head>
<body>
    <h1 style="color: white;">Update Task</h1>
    <form  action="/updated" method="post"><input id="input" type="text" name="update" autocomplete="off"><button name="edit" value="<%= change %>">Submit</button></form>
</body>
</html>